{% extends 'base/base.html' %}
{% load l10n %}

{% block titulo_pagina %}Error{% endblock %}
{% block titulo %}Error{% endblock %}

{% block contenido %}
<div class="row">
    <div class="col-12 text-justify">
        <h2 class="title-error pt-md-0">Vaya, parece que ha ocurrido un error...</h2>
        <p class="desc-error">
            Algo no ha ido como se esperaba por lo que recomendamos que navegue a la página del <a class="enlace-error" href="/timeline/"><strong>Timeline</strong></a>.
            Vuelva a intentarlo más tarde y, si el error persiste, no dude en contactar con el <a class="enlace-error" href="mailto:soporte.youroom@gmail.com"><strong>equipo de soporte</strong></a>.
        </p>
        <h3 class="title-error">Muchas gracias, disculpe las molestias.</h3>
    </div>
</div>
{% endblock %}