<p class="lead">En esta política se describe la gestión de los datos y la información de los usuarios con la que tratamos a fin de proporcionar todos los servicios ofrecidos en youRoom, cumpliendo con el nuevo Reglamento (UE)2016/679 del parlamento Europeo y del Consejo, relativo a la protección de las personas físicas en lo que respecta al tratamiento de datos personales y a la libre circulación de estos datos (RGPD), que entró en vigor en mayo de 2016 y fue de aplicación el 25 de mayo de 2018.</p>

<h3>I. ¿Qué información recopilamos?</h3>

<p>Debemos tratar su información a fin de proporcionarle los productos y servicios de youRoom. El tipo de información que recopilamos depende de la forma en la que usa nuestro producto.</p>

<h4>Información que usted nos proporciona</h4>

<p><strong>Credenciales de usuario y correo electrónico.</strong> Por cada cuenta de usuario que se registra en youRoom, almacenamos en nuestro sistema el nombre de usuario y su contraseña, credenciales de acceso para poder autenticarse en youRoom. La contraseña está almacenada de manera encriptada, aumentando así las garantías de privacidad y seguridad.</p>

<p>Por otro lado, la dirección de correo electrónico se almacena como único medio de comunicación para contactar con los usuarios. Esta dirección no se revela en ningún caso, siendo totalmente privada y de uso interno para emitir comunicaciones importantes por parte de youRoom.</p>

<p><strong>Contenido que publica en youRoom.</strong> Recopilamos el contenido y los comentarios en las publicaciones. Esta información puede corresponder a las imágenes que publica, datos incluidos en el contenido que proporciona o relacionados con este, como la descripción de una publicación o los enlaces web que etiqueta en la imagen a publicar, así como las puntuaciones que otorga a publicaciones de otros usuarios.</p>

<h3>II. ¿Para qué utilizamos esta información?</h3>

<h4>Fomentar la seguridad, la integridad y la protección.</h4>

<p>Utilizamos el nombre de usuario y la contraseña para poder autenticarle a la hora de acceder a youRoom. De esta forma garantizamos que la persona que accede a la aplicación es titular de la cuenta de usario, evitando así la publicación de contenido por parte de terceros o la compra de productos no desados.</p>

<h4>Comunicarnos con el usuario</h4>

<p>Usamos la dirección de correo electrónico que proporciona para enviarle mensajes de marketing, darle a conocer nuestros productos e informarle acerca de nuestras políticas y condiciones. También la utilizamos para responderle cuando se ponga en contacto con nosotros.</p>

<p>Ante cualquier cambio en nuestras políticas y condiciones o ante cualquier brecha de seguridad detectada que pueda poner en peligro la integración de sus datos personales, será a través del correo electrónico como contactaremos con usted.</p>

<h3>III. ¿Cómo puede ejercer sus derechos en virtud del RGPD?</h3>

<p>De conformidad con el Reglamento General de Protección de Datos, tiene derecho a acceder a sus datos, rectificarlos, obtener su portabilidad y suprimirlos.</p>

<p>Para ejercer cualquiera de estos derechos anteriormente enunciados, debe solicitarlo por correo electrónico a <a href="mailto:rgpd.youroom@gmail.com">rgpd.youroom@gmail.com</a>.</p>

<h4>Desactivación y eliminación de cuentas</h4>

<p>En cualquier momento puede solicitar la desactivación y eliminación de su cuenta de usuario. Para ello, debe solicitarlo por correo electrónico a <a href="mailto:rgpd.youroom@gmail.com">rgpd.youroom@gmail.com</a>. Debe indicar en el asunto del mensaje "Eliminar cuenta de usuario".</p>

<p>Ninguna cuenta de usuario será eliminada si no se facilitan, en el mensaje de solicitud de baja, los siguientes datos:</p>

<ul>
    <li>Correo electrónico de la cuenta de usuario.</li>
    <li>Nombre de la cuenta de usuario.</li>
</ul>

<h4>Acceso y portabilidad de los datos</h4>

<p>En cualquier momento puede solicitar el acceso y/o portabilidad de los datos totales de su cuenta de usuario. Para ello, debe solicitarlo por correo electrónico a <a href="mailto:rgpd.youroom@gmail.com">rgpd.youroom@gmail.com</a>. Debe indicar en el asunto del mensaje "Acceso a datos personales".</p>

<p>No se facilitarán los datos totales de ninguna cuenta de usuario si no se facilitan, en el mensaje de solicitud, los siguientes datos:</p>

<ul>
    <li>Correo electrónico de la cuenta de usuario.</li>
    <li>Nombre de la cuenta de usuario.</li>
</ul>

<h3>IV. ¿Cómo le notificaremos los cambios que se produzcan en esta política?</h3>

<p>Ante cualquier cambio en nuestras políticas y condiciones o ante cualquier brecha de seguridad detectada que pueda poner en peligro la integración de sus datos personales, será a través del correo electrónico como contactaremos con usted.</p>

<p>Todas las notificaciones que se emitan de manera oficial por parte de youRoom serán remitidas por la cuenta de correo electrónico rgpd.youroom@gmail.com. Cualquier otra información en nombre de youRoom que no sea remitida por esta dirección deberá ser ignorada y tratada como fraudulenta.</p>

<h3>V. Protocolo seguro HTTPS</h3>

<p>Para garantizar una mayor seguridad de los datos que persisten en youRoom, en especial de todos aquellos datos de carácter personal, el sitio web implementa un protocolo seguro HTTPS. De este modo se consigue que la información sensible (usuario y claves de paso normalmente) no pueda ser usada por un atacante que haya conseguido interceptar la transferencia de datos de la conexión, ya que lo único que obtendrá será un flujo de datos cifrados que le resultará imposible de descifrar.</p>

<p>Gracias al protocolo seguro HTTPS, cualquier transacción y/o petición en youRoom es completamente segura.</p>

<h3>VI. Cómo remitir sus dudas a youRoom</h3>

<p>Si tiene preguntas acerca de esta política, contacte con el Responsable de Protección de Datos a través de los métodos que se indican a continuación.</p>

<ul>
    <li><a href="mailto:rgpd.youroom@gmail.com">rgpd.youroom@gmail.com</a></li>
    <li><a href="mailto:soporte.youroom@gmail.com">soporte.youroom@gmail.com</a></li>
</ul>