html,body {
    background-color: #fafafa;
    height: 100vh;
}

.container {
    height: 100%;
}

.boton {
    background-color: #0DDFAD;
    border: 2px solid #07745A;
    border-radius: 30px;
    color: #07745A;
}

.boton:hover,
.boton:active {
    background-color: #07745A!important;
    border-color: #0DDFAD!important;
    color: #0DDFAD!important;
}

.titulo-accion {
    color: #07745A;
}

@media (max-width: 767px) {
    .header-mobile {
        background-color: #fff;
        border-top: 1px solid #dbdbdb;
        padding: 1rem 0 ;
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 100;
    }

    .logo-mobile {
        background-color: #fff;
        border-bottom: 1px solid #dbdbdb;
        margin-bottom: 1rem;
        padding: 1rem;
    }

    .item-menu {
        color: #07745A;
        font-size: 1.2rem;
        padding: 1rem;
    }

    .item-menu:hover,
    .item-menu:active {
        color: #0ddfad;
    }

    footer {
        display: none;
    }
}

@media (min-width: 768px) {
    .header-mobile,
    .logo-mobile {
        display: none;
    }
}

/* 
    LOGIN
*/

.login-form {
    border-color: #0DDFAD;
    background-color: white;
    border-radius: 40px;
    border-width: 2px;
    border-style: solid;
}

.form-control {
    background-color: #F6F6F3;
    border: 1px solid #D4D0C4;
    border-radius: 15px;
}
