<div class="modal fade" id="modalInfo" tabindex="-1" data-backdrop="static" aria-labelledby="modalInfoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <p id="modalInfoTexto" class="text-center">No tienes suficientes vidas para publicar</p>
                        <div class="text-center">
                            <a id="modalInfoEnlace" href="#" class="btn btn-primary boton">Comprar vidas</a>
                            <button type="button" class="btn btn-cancelar-publicacion" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>