<div class="modal fade" id="modalPublicar" tabindex="-1" data-backdrop="static" aria-labelledby="modalPublicarLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <p class="text-center">¿Seguro que quieres subir esta publicación?<br>Después no podrás modificarla o eliminarla.</p>
                        <div class="text-center">
                            <button id="btnConfirmarPub" type="submit" class="btn btn-primary boton">Confirmar</button>
                            <button type="button" class="btn btn-cancelar-publicacion" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>