<div class="modal fade" id="modalEtiquetas" tabindex="-1" data-backdrop="static" aria-labelledby="modalEtiquetasLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <p id="modalInfoTexto" class="text-center">Has llegado al máximo de etiquetas posibles<br>¡Hazte premium para no tener límites!</p>
                        <div class="text-center">
                            <a id="modalInfoEnlace" href="/tienda/suscripcion/" class="btn btn-primary boton">Hazte premium</a>
                            <button type="button" class="btn btn-cancelar-publicacion" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>