{% extends 'base/base.html' %}
{% load l10n %}
{% load static %}

{% block titulo_pagina %}Mostrar publicación{% endblock %}
{% block titulo %}Mostrar publicación{% endblock %}

{% block contenido %}
<div class="row">
    <div class="col-12 pt-2 pt-md-0 timeline">
        <div class="card mb-3">
            <div class="card-header bg-white px-minimo">
                <a class="listado-usuarios" href="{% url 'usuario' username=publicacion.usuario.user.username %}">
                    {%if publicacion.usuario.foto_perfil %}
                    <img class="img-fluid pb-1 mr-1" src={{publicacion.usuario.foto_perfil.url}} width="30"/>
                    {% else %}
                    <img class="img-fluid pb-1 mr-1" src="{% static 'images/default_profile.png' %}" width="30">
                    {% endif %}
                    <strong class="timeline-user">{{publicacion.usuario.user.username}}</strong>
                </a>
            </div>
            <div class="container-visor-timeline">
                <img src="{{publicacion.imagen.url}}" class="card-img-bottom">
                {% for e in publicacion.etiqueta_set.all %}
                {% localize off %}
                <a target="_blank" href="{{e.enlace}}">
                    <div id="{{e.nombre}}" class="etiqueta" style="left: {{e.coord_x}}%; top: {{e.coord_y}}%;">
                    </div>
                </a>
                {% endlocalize %}
                {% endfor %}
            </div>
            <div class="card-body cuerpo-tarjeta">
                {% if publicacion.usuario.user.username != user.username %}
                <div class="row pl-1 bg-white">
                    <form id="v{{publicacion.id}}">{% csrf_token %}
                        <fieldset class="rating">
                            <input {% if valoracion is 5 %} checked {% endif %} type="radio" id="star5P{{publicacion.id}}" name="valoracionP{{publicacion.id}}" value="5" />
                            <label class="full" for="star5P{{publicacion.id}}" title="5 estrellas"></label>
                            <input {% if valoracion is 4 %} checked {% endif %} type="radio" id="star4P{{publicacion.id}}" name="valoracionP{{publicacion.id}}" value="4" />
                            <label class="full" for="star4P{{publicacion.id}}" title="4 estrellas"></label>
                            <input {% if valoracion is 3 %} checked {% endif %} type="radio" id="star3P{{publicacion.id}}" name="valoracionP{{publicacion.id}}" value="3" />
                            <label class="full" for="star3P{{publicacion.id}}" title="3 estrellas"></label>
                            <input {% if valoracion is 2 %} checked {% endif %} type="radio" id="star2P{{publicacion.id}}" name="valoracionP{{publicacion.id}}" value="2" />
                            <label class="full" for="star2P{{publicacion.id}}" title="2 estrellas"></label>
                            <input {% if valoracion is 1 %} checked {% endif %} type="radio" id="star1P{{publicacion.id}}" name="valoracionP{{publicacion.id}}" value="1" />
                            <label class="full" for="star1P{{publicacion.id}}" title="1 estrella"></label>
                        </fieldset>
                    </form>
                </div>
                <div class="row px-1">
                    <p class="descripcion-publicacion">{{publicacion.descripcion}}</p>
                </div>
                {% else %}
                <div class="row pt-2 bg-white">
                    <div class="col-6">
                        <p class="puntos">{{publicacion.totalValoraciones}} <i class="fas fa-star estrellas"></i></p>
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        <!-- Publicacion destacada -->
                        {% if publicacion.destacada.es_destacada %}
                        <p class="destacada">Destacada</p>
                        {% endif %}
                    </div>
                </div>
                <div class="row px-1 pt-1">
                    <p class="descripcion-publicacion">{{publicacion.descripcion}}</p>
                </div>
                {% endif %}
                <div class="row px-1">
                    {% for c in comentarios %}
                    <p class="col-12 comentario mb-0 pl-0"><a class="listado-usuarios" href="{% url 'usuario' username=c.usuario.user.username %}"><strong class="timeline-user">{{c.usuario.user.username}}</strong></a> {{c.texto}}</p>
                    {% endfor %}
                </div>
                <form id="formCom{{publicacion.id}}" class="row pt-2">{% csrf_token %}
                    <div class="col-10 px-1">
                        <input class="comentar" name="texto" type="text" placeholder="Introduce tu comentario">
                    </div>
                    <div class="col-2 text-center">
                        <button id="comentarP{{publicacion.id}}" class="boton-comentar"><i class="bi bi-chat-fill"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}