<div class="modal" tabindex="-1" role="dialog" id="modalRecorteFotoPerfil">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body px-0">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div id="formato-imagen"></div>
                    </div>
                </div>
                <div class="text-center">
                    <button id="recortar-foto" class="btn btn-primary boton">Guardar</button>
                    <button type="button" class="btn btn-cancelar-publicacion" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>