<div class="modal fade" id="modalDestacarP{{p.id}}" tabindex="-1" data-backdrop="static" aria-labelledby="modalDestacarP" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        {% if cont.estaActivo is False %}
                        {% if cont.perfil.totalPuntos >= 50 %}
                        <p class="text-center">¿Seguro que quieres destacar la publicación?<br>Perderás el 10% de tus estrellas.</p>
                        <div class="text-center">
                            <a class="btn btn-primary boton" href="{% url 'destacar_publicacion' p.id %}">Sí, quiero destacar la publicación</a>
                            <button type="button" class="btn btn-cancelar-publicacion" data-dismiss="modal">No quiero</button>
                        </div>
                        {% else %}
                        <p class="text-center">No puedes destacar la publicación<br>Necesitas al menos 50 estrellas para destacar una publicación.</p>
                        <div class="text-center">
                            <button type="button" class="btn btn-cancelar-publicacion" data-dismiss="modal">Cancelar</button>
                        </div>
                        {% endif %}
                        {% else %}
                        {% if vidasTotales >= 2 %}
                        <p class="text-center">¿Seguro que quieres destacar la publicación?<br>Gastarás 2 Keys priorizando las semanales.</p>
                        <div class="text-center">
                            <a class="btn btn-primary boton" href="{% url 'destacar_publicacion' p.id %}">Sí, quiero destacar la publicación</a>
                            <button type="button" class="btn btn-cancelar-publicacion" data-dismiss="modal">No quiero</button>
                        </div>
                        {% else %}
                        <p class="text-center">No puedes destacar la publicación<br>Necesitas al menos 2 Keys para poder destacar la publicación.</p>
                        <div class="text-center">
                            <a class="btn btn-primary boton" href="{% url 'tienda' %}">Quiero comprar Keys</a>
                            <button type="button" class="btn btn-cancelar-publicacion" data-dismiss="modal">Cancelar</button>
                        </div>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
