{% extends 'base/base.html' %}
{% load l10n %}
{% load static %}

{% block titulo_pagina %}Timeline{% endblock %}
{% block titulo %}Timeline{% endblock %}

{% block mobile-sticky-menu %}
<ul class="nav justify-content-around opciones-timeline-mobile mb-md-3 sticky-top">
    <div class="col-6 timeline-nav">
        <li class="nav-item">
            <a class="nav-link text-white text-center" href="{% url 'usuarios' %}"><i class="bi bi-search dest mr-2"></i>Buscar</a>
        </li>
    </div>
    <div class="col-6 timeline-nav">
        <li class="nav-item dropdown ">
            <a class="nav-link text-white dropdown-toggle text-center" data-toggle="dropdown" href="{% url 'timeline' %}" role="button"
                aria-haspopup="true" aria-expanded="false"><i class="bi bi-card-list categs mr-2"></i>Categorías</a>
            <div class="dropdown-menu">
                {% for categoria in categorias %}
                <a class="dropdown-item" href="{% url 'timeline_categoria' categoria=categoria.1 %}">{{ categoria.1 }}</a>
                {% endfor %}
            </div>
        </li>
    </div>
</ul>
{% endblock %}

{% block contenido %}
<div class="row">
    <div class="col-12 timeline">
        {% for p in publicaciones %}
        <div>
            <div class="card mb-3">
                <div class="card-header bg-white px-minimo">
                    <a class="listado-usuarios" href="{% url 'usuario' username=p.0.usuario.user.username %}">
                        {%if p.0.usuario.foto_perfil %}
                        <img class="img-fluid pb-1 mr-1" src={{p.0.usuario.foto_perfil.url}} width="30"/>
                        {% else %}
                        <img class="img-fluid pb-1 mr-1" src="{% static 'images/default_profile.png' %}" width="30">
                        {%endif%}
                        <strong class="timeline-user">{{p.0.usuario.user.username}}</strong></a>
                </div>
                <div class="container-visor-timeline">
                    <img src="{{p.0.imagen.url}}" class="card-img-bottom">
                    {% for e in p.0.etiqueta_set.all %}
                    {% localize off %}
                    <a target="_blank" href="{{e.enlace}}">
                        <div id="{{e.nombre}}" class="etiqueta" style="left: {{e.coord_x}}%; top: {{e.coord_y}}%;">
                        </div>
                    </a>
                    {% endlocalize %}
                    {% endfor %}
                </div>
                <div class="card-body cuerpo-tarjeta">
                    {% if p.0.usuario.user.username != user.username %}
                    <div class="row pl-1 bg-white">
                        <form id="v{{p.0.id}}">{% csrf_token %}
                            <fieldset class="rating">
                                <input {% if p.1 is 5 %} checked {% endif %} type="radio" id="star5P{{p.0.id}}" name="valoracionP{{p.0.id}}" value="5" />
                                <label class="full" for="star5P{{p.0.id}}" title="5 estrellas"></label>
                                <input {% if p.1 is 4 %} checked {% endif %} type="radio" id="star4P{{p.0.id}}" name="valoracionP{{p.0.id}}" value="4" />
                                <label class="full" for="star4P{{p.0.id}}" title="4 estrellas"></label>
                                <input {% if p.1 is 3 %} checked {% endif %} type="radio" id="star3P{{p.0.id}}" name="valoracionP{{p.0.id}}" value="3" />
                                <label class="full" for="star3P{{p.0.id}}" title="3 estrellas"></label>
                                <input {% if p.1 is 2 %} checked {% endif %} type="radio" id="star2P{{p.0.id}}" name="valoracionP{{p.0.id}}" value="2" />
                                <label class="full" for="star2P{{p.0.id}}" title="2 estrellas"></label>
                                <input {% if p.1 is 1 %} checked {% endif %} type="radio" id="star1P{{p.0.id}}" name="valoracionP{{p.0.id}}" value="1" />
                                <label class="full" for="star1P{{p.0.id}}" title="1 estrella"></label>
                            </fieldset>
                        </form>
                    </div>
                    <div class="row px-1">
                        <p>{{p.0.descripcion}}</p>
                    </div>
                    {% else %}
                    <div class="row pt-2 bg-white">
                        <div class="col-6">
                            <p class="puntos">{{p.0.totalValoraciones}} ★</p>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <!-- Publicacion destacada -->
                            {% if p.0.destacada.es_destacada %}
                            <p class="destacada">Destacada</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row px-1 pt-1">
                        <p>{{p.0.descripcion}}</p>
                    </div>
                    {% endif %}
                    {% if p.0.comentario_set.all|length > 2 %}
                    <div class="row px-1">
                        <a class="listado-usuarios" href="{% url 'mostrar_publicacion' publicacion_id=p.0.id %}"><small>Ver los {{p.0.comentario_set.all|length}} comentarios</small></a>
                    </div>
                    {% endif %}
                    {% if p.2|length > 0 %}
                    <div class="row px-1">
                        {% for c in p.2 %}
                        <p class="col-12 comentario mb-0 pl-0"><a class="listado-usuarios" href="{% url 'usuario' username=c.usuario.user.username %}"><strong class="timeline-user">{{c.usuario.user.username}}</strong></a> {{c.texto}}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <form id="formCom{{p.0.id}}" class="row pt-2">{% csrf_token %}
                        <div class="col-10 px-1">
                            <input class="comentar" name="texto" required type="text" placeholder="Introduce tu comentario">
                        </div>
                        <div class="col-2 text-center">
                            <button id="comentarP{{p.0.id}}" class="boton-comentar"><i class="bi bi-chat-fill"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block opciones-timeline %}
<div class="col-12">
    <div class="row">
        <div class="col-12">
            <div class="row timeline-nav-pc">
                <a class="text-white" href="{% url 'usuarios' %}"><i class="bi bi-search"></i><span class="ml-1 ml-lg-4">Buscar</span></a>
            </div>
            <div class="row mt-1 timeline-nav-pc">
                <div class="nav-item dropdown">
                    <a class="dropdown-toggle text-white text-center" data-toggle="dropdown" href="{% url 'timeline' %}" role="button"
                        aria-haspopup="true" aria-expanded="false"><i class="bi bi-card-list"></i><span class="ml-1 ml-lg-4">Categorías</span></a>
                    <div class="dropdown-menu">
                        {% for categoria in categorias %}
                        <a class="dropdown-item text-center" href="{% url 'timeline_categoria' categoria=categoria.1 %}">{{ categoria.1}}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
