<div class="modal fade" id="modalSuscripcion" tabindex="-1" data-backdrop="static" aria-labelledby="modalSuscripcion" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <p class="text-center">¿Seguro que quieres cancelar la suscripción?<br>Seguirás contando con las ventajas premium hasta que finalice el período de suscripción <span id="fechaCancelacion">.</span></p>
                        <div class="text-center">
                            <a id="btnCancelarSus" class="btn btn-primary boton" href="{% url 'tienda_cancel' %}">Confirmar</a>
                            <button type="button" class="btn btn-cancelar-publicacion" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>