{% extends 'base/base.html' %}
{% load static %}
{% load l10n %}

{% block titulo_pagina %}Tienda{% endblock %}
{% block titulo %}Tienda{% endblock %}

{% block contenido %}

<div class="row margen-movil">
    {% for product in products %}
    {% if product.pk == 1 %}
    <div class="col-12 pb-3 px-minimo">
        <div class="card">
            <div class="row no-gutters">
                <div class="card-body">
                    <h3 class="card-title text-center">{{ product.name }} </h3>
                    <p class="card-text">
                    <ul>
                        <li>Publicaciones ilimitadas</li>
                        <li>Etiqueta productos sin límites</li>
                        <li>Progresa más rápido en el ranking</li>
                    </ul>
                    </p>
                    <form id="formP{{product.pk}}" action="{% url 'charge' pk=product.id %}" method = "post" style="display: none;">
                        {% csrf_token %}
                        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key="{{ key }}"
                            data-description = "Payment Gateway"
                            data-amount="{{ product.price }}"
                            data-locale="auto"
                            data-currency= "EUR">
                        </script>
                    </form>
                    <div class="text-center">
                        {% if contador_vidas.estaActivo is True %}
                        <button id="btnP{{product.pk}}" class="btn btn-primary boton font-weight-bold" type="button"><i class="bi bi-stars icon-suscripcion"></i>Suscríbete por {{ product.get_display_price }} € al mes</button>
                        {% else %}
                        <a id="cancelSusModal" class="btn btn-cancelar-publicacion" type="button" data-toggle="modal" data-target="#modalSuscripcion"><i class="bi bi-x-circle icon-suscripcion"></i> Cancelar suscripción</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% include 'tienda/cancelar_suscripcion.html' %}
    </div>
    {% else %}
    <div class="col-6 pb-3 px-minimo">
        <div class="card">
            <div class="card-body">
                {% with product.pk|slugify as image_path %}
                {% with 'images/keys-'|add:image_path|add:'.png' as image_path %}
                <img src="{% static image_path %}" class="card-img-top">
                {% endwith %}
                {% endwith %}
                <h3 class="card-title text-center">{{ product.name }} </h3>
                <form id="formP{{product.pk}}" action="{% url 'charge' pk=product.id %}" method = "post" style="display: none;">
                    {% csrf_token %}
                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="{{ key }}"
                        data-description = "Payment Gateway"
                        data-amount="{{ product.price }}"
                        data-locale="auto"
                        data-currency= "EUR">
                    </script>
                </form>
                <button {% if contador_vidas.estaActivo is False %} disabled {% endif %} id="btnP{{product.pk}}" class="btn btn-primary btn-block boton font-weight-bold" type="button"><i class="bi bi-stars icon-suscripcion"></i>{{ product.get_display_price }} €</button>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}