{% extends 'base/base.html' %}
{% load l10n %}

{% block titulo_pagina %}Ranking{% endblock %}
{% block titulo %}Ranking{% endblock %}

{% block contenido %}
<div class="row">
    <div class="col-12">
        {% for usuario in usuarios %}
        <div class="card rank-user mb-1 pl-3 pr-3">
            <div class="row pt-2 pb-2">
                <div class="col-2 col-md-1"><span class="pos">{{forloop.counter}}</span></div>
                {% if forloop.counter < 4 %}
                <div class="col-7 col-md-8">
                    {% if forloop.counter == 1 %}
                    <i class="bi bi-trophy-fill primero"></i>
                    {% elif forloop.counter == 2 %}
                    <i class="bi bi-trophy-fill segundo"></i>
                    {% elif forloop.counter == 3 %}
                    <i class="bi bi-trophy-fill tercero"></i>
                    {% endif %}
                    <a class="listado-usuarios" href="{% url 'usuario' username=usuario.user.username %}">{{usuario.user.username}}</a>
                </div>
                {% else %}
                <div class="col-7 col-md-8">
                    <a class="listado-usuarios" href="{% url 'usuario' username=usuario.user.username %}">{{usuario.user.username}}</a>
                </div>
                {% endif %}
                <div class="col-3 text-right valoracion">{{usuario.totalPuntos}}</div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
