{% extends 'base/base.html' %}
{% load static %}
{% load l10n %}

{% block titulo_pagina %}Guía de uso{% endblock %}
{% block titulo %}Guía de uso{% endblock %}

{% block contenido %}
<div class="row">
    <div class="col-12">
        <h3 class="text-center">Guía de uso de youRoom</h3>


        <h4 class="texto-verde-osc mt-4">¿Qué puedo hacer en el Timeline?</h4>

        <h5 class="texto-verde-osc mt-3">Ver publicaciones</h5>
        <p>Una vez dentro de la aplicación, aparecerá el Timeline, donde lo primero que visualizarás son las
            publicaciones que han sido destacadas por los usuarios de youRoom.</p>
        <p>Además, podrás ver las publicaciones más valoradas por los usuarios, o filtrar por categorías (salón,
            dormitorio, cocina, etc.). Para ello, en el menú superior encontrarás las opciones <i>Ver más valoradas</i>
            y <i>Categorías</i>. Para volver a ver todas las publicaciones del Timeline deberás pulsar el botón Inicio
            del menú o el logo.</p>

        <h5 class="texto-verde-osc mt-3">Valorar publicaciones</h5>
        <p>¡Vamos a la parte más entretenida! Podrás valorar todas las publicaciones según tus gustos, ayudando así al
            resto de usuarios a crecer en el ranking.</p>
        <p>Como podrás observar, debajo de las imágenes de las publicaciones hay unas estrellas de valoración. Estas
            representan cuánto te ha gustado la publicación. A mayor número de estrellas, más puntuación otorgarás al
            usuario.</p>

        <h5 class="texto-verde-osc mt-3">Escribir comentarios</h5>
        <p>Debajo de la descripción de cada foto podrás comentar sobre la publicación. Aquí podrás dar tu opinión sobre
            la foto, dar consejos, preguntar sobre algún artículo, o contestar a algún otro comentario.</p>

        <h5 class="texto-verde-osc mt-3">Buscar usuarios</h5>
        <p>Otra de las muchas posibilidades es buscar a otros usuarios que pertenezcan a la comunidad de youRoom y
            explorar sus perfiles. Para ello, pulsa el botón de Buscar en el menú superior.</p>


        <h4 class="texto-verde-osc mt-5">¿Cómo puedo compartir mis espacios?</h4>

        <h5 class="texto-verde-osc mt-3">Puedes publicarlo en tu perfil</h5>
        <p>¡Es el momento de mostrar tu creatividad! Para ello, sube una imagen del lugar favorito de su casa, pulsa en
            la imagen y añade los enlaces a la compra de los productos que quieras compartir. Finalmente, presiona en
            Publicar.</p>


        <h4 class="texto-verde-osc mt-5">¿Qué puedo hacer en mi perfil?</h4>

        <h5 class="texto-verde-osc mt-3">Gestionar tus publicaciones</h5>
        <h6 class="font-italic mt-3">Ver y editar</h6>
        <p>Podrás visualizar cada puclicación y los comentarios y valoraciones recibidos. Para editar una publicación,
            solo tienes que pulsar el icono <i class="bi bi-pencil-square texto-verde-osc"></i> y modificar la
            descripción o la
            categoría.</p>

        <h6 class="font-italic mt-3">Destacar</h6>
        <p>Para destacar la publicación, debes pulsar en el botón <i>Destacar</i>. Esto mantendrá la publicación en los
            puestos más superiores del Timeline durante 24 horas.</p>

        <h5 class="texto-verde-osc mt-3">Editar tu perfil</h5>
        <p>Si quieres modificar tu foto de perfil, tu descripción, o cambiar tu contraseña, pulsa en el icono <i
                class="bi bi-gear-fill texto-verde-osc"></i> y selecciona la opción <i>Editar perfil</i>.</p>


        <h4 class="texto-verde-osc mt-5">¿Qué son y para qué sirven las Keys?</h4>
        <p>Las Keys son las llaves que puedes usar para abrir las puertas de tu casa a los usuarios de youRoom.
            Necesitarás una Key para publicar una foto, y dos para destacarla.</p>


        <h4 class="texto-verde-osc mt-5">¿Qué son y para qué sirven las estrellas?</h4>
        <p>Las estrellas representan las valoraciones recibidas en tus publicaciones por el resto de usuarios de
            youRoom. Si eres usuario <i>Premium</i>, deberás consumir un porcentaje de estrellas para destacar en lugar
            de las Keys.</p>


        <h4 class="texto-verde-osc mt-5">¿Para qué sirve el ranking?</h4>
        <p>Al pulsar el icono <i class="bi bi-trophy texto-verde-osc"></i>, aparecerá el ranking semanal de usuarios, donde podrás ver la clasificación de
            los mismos según las estrellas totales conseguidas durante la semana en sus publicaciones.</p>
        <p>Cuando finalice la semana, los tres primeros clasificados obtendrán una recompensa (Keys o estrellas extra).
        </p>





    </div>
</div>
{% endblock %}