{% extends 'base/base.html' %}

{% block titulo %}Login youRoom{% endblock %}

{% block contenido %}
    <div class="row">
        <div class="col-12">
            <h3 class="text-center">Inicio de sesion</h3>
            <div class="login-panel">
                <form method="post" role="form">{% csrf_token %}
                    {{ form.username }}
                    {{ form.password }}
                    <input type="submit" value="Login"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}