{% extends 'base/base.html' %}
{% load static %}
{% load l10n %}

{% block titulo_pagina %}Perfil de usuario{% endblock %}
{% block titulo %}Perfil de usuario{% endblock %}

{% block contenido %}
<div class="row">
    <div class="col-12 mb-1 card p-reducido-1">
        <div class="row no-gutters align-items-center">
            <div class="col-3 col-sm-2 col-md-3">
                {%if user.foto_perfil %}
                <img class="img-fluid pt-2 pb-2" src={{user.foto_perfil.url}} />
                {% else %}
                <img class="img-fluid pt-2 pb-2" src="{% static 'images/default_profile.png' %}">
                {%endif%}
            </div>
            <div class="col-9 col-sm-10 col-md-9 p-reducido-2">
                <div class="row">
                    <div class="col-12">
                        <h4 class="pb-2 ml-2">{{user.user.username}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <ul class="list-inline ml-2">
                            <li class="list-inline-item">
                                <span id="publicaciones-totales" data-toggle="publicaciones-totales"
                                    data-trigger="click" data-placement="top" data-content="Publicaciones totales">
                                    <strong class="h5">{{numPublicaciones}} </strong><i class="fas fa-camera h5"></i>
                                </span>
                                <span id="puntos-totales" data-toggle="puntos-totales" data-trigger="click"
                                    data-placement="top" data-content="Roomies">
                                    <strong class="estrellas h5 ml-2">{{user.totalPuntos}} </strong><i
                                        class="fas fa-star estrellas h5"></i>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12">
                        <p class="descripcion-usuario d-none d-sm-block pt-2 ml-2">{{user.descripcion}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-block d-sm-none">
            <div class="col-12">
                <p class="descripcion-usuario ml-1">{{user.descripcion}}</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 pt-sm-3 timeline">
        {% for p in publicaciones %}
        <div>
            <div class="card mb-3">
                <div class="card-header bg-white">
                    {%if p.0.usuario.foto_perfil %}
                    <img class="img-fluid pb-1 mr-1" src={{p.0.usuario.foto_perfil.url}} width="30"/>
                    {% else %}
                    <img class="img-fluid pb-1 mr-1" src="{% static 'images/default_profile.png' %}" width="30">
                    {%endif%}
                    <strong class="timeline-user">{{p.0.usuario.user.username}}</strong>
                </div>
                <div class="container-visor-timeline">
                    <img src="{{p.0.imagen.url}}" class="card-img-bottom">
                    {% for e in p.0.etiqueta_set.all %}
                    {% localize off %}
                    <a target="_blank" href="{{e.enlace}}">
                        <div id="{{e.nombre}}" class="etiqueta" style="left: {{e.coord_x}}%; top: {{e.coord_y}}%;">
                        </div>
                    </a>
                    {% endlocalize %}
                    {% endfor %}
                </div>
                <div class="card-body cuerpo-tarjeta">
                    <div class="row pl-1 bg-white">
                        <form id="v{{p.0.id}}">{% csrf_token %}
                            <fieldset class="rating">
                                <input {% if p.1 is 5 %} checked {% endif %} type="radio" id="star5P{{p.0.id}}"
                                    name="valoracionP{{p.0.id}}" value="5" />
                                <label class="full" for="star5P{{p.0.id}}" title="5 estrellas"></label>
                                <input {% if p.1 is 4 %} checked {% endif %} type="radio" id="star4P{{p.0.id}}"
                                    name="valoracionP{{p.0.id}}" value="4" />
                                <label class="full" for="star4P{{p.0.id}}" title="4 estrellas"></label>
                                <input {% if p.1 is 3 %} checked {% endif %} type="radio" id="star3P{{p.0.id}}"
                                    name="valoracionP{{p.0.id}}" value="3" />
                                <label class="full" for="star3P{{p.0.id}}" title="3 estrellas"></label>
                                <input {% if p.1 is 2 %} checked {% endif %} type="radio" id="star2P{{p.0.id}}"
                                    name="valoracionP{{p.0.id}}" value="2" />
                                <label class="full" for="star2P{{p.0.id}}" title="2 estrellas"></label>
                                <input {% if p.1 is 1 %} checked {% endif %} type="radio" id="star1P{{p.0.id}}"
                                    name="valoracionP{{p.0.id}}" value="1" />
                                <label class="full" for="star1P{{p.0.id}}" title="1 estrella"></label>
                            </fieldset>
                        </form>
                    </div>
                    <div class="row px-1 pt-1">
                        <p>{{p.0.descripcion}}</p>
                    </div>
                    {% if p.0.comentario_set.all|length > 2 %}
                    <div class="row px-1">
                        <a class="listado-usuarios" href="{% url 'mostrar_publicacion' publicacion_id=p.0.id %}"><small>Ver los {{p.0.comentario_set.all|length}} comentarios</small></a>
                    </div>
                    {% endif %}
                    {% if p.2|length > 0 %}
                    <div class="row px-1">
                        {% for c in p.2 %}
                        <p class="col-12 comentario mb-0 pl-0"><a class="listado-usuarios" href="{% url 'usuario' username=c.usuario.user.username %}"><strong class="timeline-user">{{c.usuario.user.username}}</strong></a> {{c.texto}}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <form id="formCom{{p.0.id}}" class="row pt-2">{% csrf_token %}
                        <div class="col-10 px-1">
                            <input class="comentar" name="texto" required type="text" placeholder="Introduce tu comentario">
                        </div>
                        <div class="col-2 text-center">
                            <button id="comentarP{{p.0.id}}" class="boton-comentar"><i class="bi bi-chat-fill"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}